.background {
    height: 100svh;
    background-image: linear-gradient(to bottom, #3498db, #5da0d6, #7aa8d2, #92b0cd, #a8b8c8);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    pointer-events: none;
    grid-column: 1/4;
}

.loader {
    border: 16px solid #365fac;
    border-radius: 50%;
    border-top: 16px solid #ffcc01;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}