.app {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
}

.app>* {
  grid-column: 2;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  user-select: none;
}

.image-container img {
  width: 250px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 29;
}

.image-container h2 {
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2d2d2d;
  z-index: 30;
}

.checkbox-container {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  z-index: 30;
  user-select: none;
}

.checkbox-container label {
  font-weight: 900;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2d2d2d;
}

.checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 2px solid #365fac;
  background-color: #ffcc01;
  height: 15px;
  width: 15px;
  position: relative;
}

.checkbox:checked::before {
  content: '';
  position: absolute;
  border-right: 3px solid green;
  border-bottom: 3px solid green;
  height: 15px;
  width: 5px;
  transform: rotate(45deg);
  top: -8px;
  right: -2px;
}

.types {
  width: 70%;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding: 1em 0;
}

.types-container {
  display: flex;
  gap: 10px;
}

.types-item {
  padding: .2rem .5em;
  border-radius: 10px;
  font-weight: 900;
  color: #fff;
  width: fit-content;
  text-align: center;
}